body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
    overflow:hidden;
}

h1{
    color:#ff2b2b;
    text-align:center;
}

.toolbar{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    padding:10px;
    justify-content:center;
    background:#181818;
    border-bottom:2px solid #900;
}

input,select{
    background:#222;
    color:white;
    border:1px solid #900;
}

#keyboard{
    display:flex;
    height:320px;
    overflow-x:auto;
    margin-top:10px;
}

.white-key{
    width:40px;
    background:#fafafa;
    border:1px solid #444;
    position:relative;
}

.black-key{
    width:25px;
    height:180px;
    background:#111;
    position:absolute;
    margin-left:-12px;
    z-index:10;
}

.white-key.active{ background:#ff4d4d; }
.black-key.active{ background:#aa0000; }

.fx-panel{
    display:flex;
    gap:10px;
    padding:10px;
    background:#0f0f0f;
}

canvas{
    width:100%;
    background:#000;
}
